@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html { font-size: 14px; }
  ::selection { background: #166534; color: #fff; }
  ::-webkit-scrollbar { width: 4px; }
  ::-webkit-scrollbar-track { background: #f5f5f5; }
  ::-webkit-scrollbar-thumb { background: #ccc; border-radius: 4px; }
}
